body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
<<<<<<< HEAD
=======
  .toolbar {
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: white;
    background-color: burlywood;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
>>>>>>> 1c2c4a2 (update new file)
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  hr{
    height: 1px;
    background-color:brown;
    border-color: brown;
  }
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%
  }
  .bottom-line{
    margin-top:25px;
  }
  /* FOOTER */
footer{
    font-size: 14px;
  }
  a{
    color: black;
  }
  a:visited{
    color: black;
  }
  a:hover{
    color: brown;
  }
  a:active{
    color: brown;
  }
  .address{
    margin-bottom: 5px;
  }
  img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: -25px;
<<<<<<< HEAD
=======
  }
  .orders{
    position: absolute;
    background: white;
    right: 10px;
    padding: 10px;
    width: 20%;
  }
  .cancel{
    color: red;
    padding: 2px 5px;
    margin-left: 5px;

>>>>>>> 1c2c4a2 (update new file)
  }